[2017-07-14 05:29] ankurdh opened #2 "Incorrect version number for the gem"
It seems that the when we build the gem, the version number is 2.5.0. Looking at https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/client/sdk/runtime/lib/vapi/version.rb#L7, turns out the version is set to 2.5.0 indeed.

But the documentation(https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/README.md#installing-the-sdk) asks to install with the version number 2.6.0

[2017-07-14 17:34] jrgarcia commented on #2
You are correct. Updating now!

[2017-07-15 05:42] #2 closed

[2017-07-17 08:19] russellseymour opened #4 "Why do you need to use SOAP to perform the authentication?"
Does SOAP provide something that just using the REST API does not?

For example I have used Ruby `net/http` and Postman to make a POST request against `/rest/com/vmware/cis/session` using Basic auth and I get session id.

It occurs to me that maybe the SOAP response provides the correct machine to authenticate against whereas you have to know the endpoint to authenticate using the REST API - howev

[2017-07-17 08:22] russellseymour opened #5 "Unable to return a list of virtual machines"
I am trying to return a list of VMs from the vCenter cluster that I am authenticated against using the following code:

[code]

However I get the following error:

[code]

[2017-07-17 08:25] russellseymour opened #6 "Cannot clone a machine"
Having authenticated against the vCenter cluster I want to clone a virtual machine. This is the code that I am using to do this:

[code]

The `vapi_config` object has a session id set and the `vmobj` is created successfully, however when I try to clone the machine, on the next line, I get the following error:

[code]

It seems that the session id has been lost in the `vmobj` so when I try to perfo

[2017-07-17 08:32] russellseymour opened #7 "Cannot get the id of the specified datastore"
During creation of new machines it is necessary to get the actual id of the datastore and not the display that is seen.

To do this I retrieve the information using a FilterSpec on the specified class, however if I do the following on the datastore:

[code]

I get the following error:

[code]

I believe this is a parsing issue with the response because when I perform the same action using Postman

[2017-07-17 08:35] russellseymour opened #8 "Attribute for creating a new machine is incorrectly cased"
When a new machine is created, not cloned, the Guest OS type has to be specified. In the code this is set as `:guest_os`, however the API expects it to be `:guest_OS`.

For example the following code:

[code]

Will generate the following error:

[code]

As a test I patched the gem directly so that the attribute was set as `:guest_OS` and then modified the code to set it and it did not throw an err

[2017-07-17 13:08] jrgarcia commented on #6
The Automation SDK and the REST API does not support cloning at this time.

[2017-07-17 13:08] #6 closed

[2017-07-17 15:00] jjasghar opened #10 "Publish to RubyGems"
![image](https://media.giphy.com/media/4DB36sA0VpYGs/giphy.gif)

Please Please Please publish this to rubygems, so we can use it in our `gemspec`. If you don't we will need to figure out a way to automatically pull this down, build it locally and inject into our integration.

![image](https://media.giphy.com/media/3oEdva9BUHPIs2SkGk/giphy.gif)

Thanks!

[2017-07-18 08:59] russellseymour opened #11 "Attribute for Summary of VM is incorrectly cased"
The attribute for the memory of a machine in the Summary class is incorrect. Again this appears to be an incorrectly cased attribute.

This should be `:memory_size_MiB` rather that `:memory_size_mib`. The former is what is returned when a call is made to retrieve the summary of a VM, although it is an object:

[code]

This attribute can be found on line 3021 in the file `com/vmware/vcenter.rb`. (h

[2017-07-18 09:28] russellseymour commented on #5
I am closing this as I am no longer getting this exact error. However I have created #11 because the memory is not reported back properly.

[2017-07-18 09:28] #5 closed

[2017-07-18 22:30] jrgarcia commented on #5
My guess would be that `com/vmware/vcenter` was `require`d, but `com/vmware/vcenter/vm` was not. I'm looking at the `guest_OS` and `memory_size_MiB` issues right now.

[2017-07-25 01:38] #8 closed

[2017-07-25 02:56] jrgarcia commented on #11
Closed by #12

[2017-07-25 02:56] #11 closed

[2017-08-02 16:14] jrgarcia commented on #4
We talked about this privately, so I'm just adding this for anyone reading.

The SOAP call is used to use the lookup service to find the correct host to authenticate against. This is only necessary if you have an external PSC (platform services controller). If it is embedded this isn't necessary. I will look at updating this in the future. Maybe allowing you to flag whether your PSC is embedded or

[2017-08-08 15:24] jjasghar opened #15 "Deprication warning"
Running the SDK, it seems I'm getting some warnings:

[code]

:)

[2017-08-26 22:46] #15 closed

[2017-08-31 05:17] jobingeo opened #25 "Incorrectly cased 'size_mib' attribute in Hardware::Memory"
In https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/client/sdk/com/vmware/vcenter/vm/hardware.rb (Memory Class) , the size_mib is incorrectly cased resulting in error

 Memory Configurations of a VM: undefined method `size_MiB_=' for #<Com::Vmware::Vcenter::Vm::Hardware::Memory::Info:0x00000003a8fe28>
Did you mean?  size_mib=
               size_mib (NoMethodError)

This is simila

[2017-09-12 19:18] jjasghar commented on #10
https://travis-ci.org/chef/kitchen-vcenter/jobs/274505819 *cough* *cough*

[2017-09-19 17:10] #25 closed

[2017-09-20 21:06] donwlewis commented on #10
Would love to see this get integrated as part of base ChefDK!

[2017-09-20 21:10] mattstratton commented on #10
👍

[2017-09-20 21:10] JustinDevelops commented on #10
Yes Please!

[2017-09-20 21:11] swalberg commented on #10
Not wanting to vendor this has also kept me from using it in `knife-vsphere`.

[2017-09-20 21:12] smford22 commented on #10
+1

[2017-09-20 21:14] simfish85 commented on #10
Yes we need this ASAP

[2017-09-20 21:16] joshbrand commented on #10
👍 !

[2017-09-20 21:38] qubitrenegade commented on #10
We'd like to use this for some non-chef work, but as others have stated above, would prefer to use it as part of our `gemspecs`

Thanks!
Q

[2017-09-20 22:20] dm4r commented on #10
+1

[2017-09-21 06:35] Hendricusk commented on #10
Very nice! Life would be so much easier if it's integrated!

[2017-09-21 09:50] trickyearlobe commented on #10
+1 Please publish... it would demonstrate our love of vmWare to customers.

[2017-09-21 18:41] bowersna commented on #10
PRETTY PLEASE! ;)

[2017-09-21 18:53] gaelik commented on #10
+1

[2017-09-22 17:30] jerearista commented on #10
👍 We have numerous uses for this in our in-house automation as well as integrations with other projects once packaging and publishing are complete.  Please publish this to rubygems.

[2017-09-25 16:32] jrowme commented on #10
+1

[2017-10-03 16:57] donone-apex commented on #10
This would be MOST helpful to have as a Gem!

[2017-10-05 17:43] jameswnl commented on #10
please +1

[2017-10-10 15:52] tpmullan commented on #10
This would be really helpful!

[2017-11-03 23:24] kmruddy opened #31 "Error: Certificate verify failed"
Cloning and setting up a new system resulted in the below message when trying to authenticate to the vCenter Server.

[code]

I went ahead and rolled my jump box’s snapshot back, imported the vCenter cert and went through the pre-reqs again. Same issue.

However, oddly enough, if I ran the command without the -k option then ran it again with the -k option within the span of about 5 seconds it woul

[2017-11-03 23:28] kmruddy opened #32 "Error with create_default_vm Sample"
When running the create_default_vm sample, the help output indicates that it needs folder, datastore, and cluster.

Running the command steps you through the requirement of it actually needing folder, datastore, cluster, VM name, and datacenter.

[2017-11-05 11:57] jobingeo commented on #32
The Sample specific options are listed towards the bottom in the '-h' message.  This have the requirement of Folder, Datastore, Cluster, VM Name, Datacenter

XXXXXXX@localhost:~/workspace/vAutomationRubySDK-layer1/vsphere-automation-sdk-ru                                                                                                                                                             by/c

[2017-11-05 13:10] kmruddy commented on #32
The bottom of the help output lists the available options. The requirements are higher in the help statement:

Now that I re-read it again, I see that 'datacenter' is listed, but not in the bullet points. That option should either be in the bullet points or removed from the requirements. The REST call itself doesn't have a requirement for a datacenter object, so I'd like to see that requirement re

[2017-11-05 16:40] jobingeo commented on #32
Agreed. This help statement should be modified in  this section.

[2017-11-08 04:45] #32 closed

[2017-11-14 17:59] mkennedy85 commented on #10
+1 Need this

[2017-12-13 01:44] bioxcession commented on #10
<img width="418" alt="screen shot 2017-12-12 at 7 44 23 pm" src="https://user-images.githubusercontent.com/11777705/33917600-e080cba4-df74-11e7-990d-3e83dd44c86e.png">

[2018-07-20 18:38] jasonwbarnett commented on #10
+1

[2018-11-19 18:00] tas50 commented on #10
Another plead to get this published to rubygems. We can't properly test kitchen-vcenter which many large VMware customers are relying on without this. Not pushing this to Rubygems hurts *many* users.

[2018-11-19 19:02] strefethen commented on #10
Hi All,
  Thanks for the feedback! We've been working on developing an OpenAPI version of this binding which you can preview [here](https://github.com/vmware/vsphere-automation-sdk-ruby/tree/openapi). Please have a look at let us know your thoughts.

Please note, the new binding will *not* be backwards compatible with the existing binding and we will be providing updated samples and details on the

[2018-11-30 04:11] davisvansant commented on #10
I know everyone has already commented here, but I cant stress enough how amazing it would be to get this going for testing our chef cookbooks on our vmware environment!

[2019-01-10 16:23] jameswnl commented on #10
@strefethen the OpenAPI branch says the gem is available from rubygems.org, but it's not there.

Can you confirm? I may be missing something...

[2019-01-10 16:25] jrgarcia commented on #10
@jameswnl It's not currently. I updated the README to reflect the fact that that is the plan once this moves to `master`. For now, you have to build the gems manually, but they will be up on RubyGems once released (which I'm hoping will be very soon).

[2019-01-10 16:27] jameswnl commented on #10
thanks @jrgarcia for the clarification.

[2019-01-10 22:53] jrgarcia commented on #10
I've merged the `openapi` branch to the `master` branch and pushed the respective gems to RubyGems.org. For installation and use (which has changed), please see the README.

[2019-01-10 22:53] #10 closed

[2019-01-23 17:30] jrgarcia commented on #4
Closing as this is no longer relevant due to the changes made to the SDK

[2019-01-23 17:30] #4 closed

[2019-01-23 17:31] jrgarcia commented on #31
Closing as this is no longer relevant due to the changes made to the SDK. Please reopen if this is still an issue.

[2019-01-23 17:31] #31 closed

[2019-01-23 17:32] jrgarcia commented on #7
Closing as this is no longer relevant due to the changes made to the SDK. Please feel free to reopen if this continues to be an issue.

[2019-01-23 17:32] #7 closed

[2019-01-28 22:38] jrgarcia opened #36 "Correct the User-Agent"
## Describe the bug

The User-Agent could be more useful and should probably be like the rest of the vSphere Automation SDKs (`"SDK/[version] vAPI/[version] Ruby/[version] ([OS]; [OS version]; [arch]"`).

## How to reproduce

Making any call to the API and looking at the User-Agent will show that it isn't correct.

## Expected behavior

It should look like what is described in the description of t

[2019-01-28 22:41] jrgarcia opened #37 "Add copyright headers to files"
## Summary

* What is the change? Add copyright headers
* Why should it go into the vSphere Automation SDK? To follow expected guidelines
* Does this change impact existing behaviors? If so how? No
* If this change introduces a new behavior, is this behavior accessible? No new behavior

## Use case

When people use this code, they would be able to see the copyright information at the top of each f

[2019-01-28 22:46] jrgarcia opened #38 "Add OpenAPI templates to project"
## Summary

* What is the change? Add the templates used to generate this project
* Why should it go into the vSphere Automation SDK? So that others can see how this library is generated
* Does this change impact existing behaviors? If so how? No
* If this change introduces a new behavior, is this behavior accessible? No new behavior is introduced

## Use case

* Being able to generate this projec

[2019-01-30 21:58] #36 closed

[2019-01-30 21:58] #37 closed

[2019-01-31 00:02] #38 closed

[2019-01-31 00:05] jrgarcia opened #42 "Add script to generate the SDK"
## Summary

* What is the change? Add necessary scripts to generate the SDK from scratch
* Why should it go into the vSphere Automation SDK? This would be necessary to be able to generate everything from within this repository itself
* Does this change impact existing behaviors? If so how? No
* If this change introduces a new behavior, is this behavior accessible? It doesn't introduce any new feat

[2019-02-08 10:55] vbaranikumar opened #43 "How do I get EVC Cluster state"
Team,

Is there any example ruby code to get EVC cluster state?

Thanks,
Barani Kumar

[2019-02-08 19:23] jrgarcia commented on #43
Hey @vbaranikumar, unfortunately, there isn't a REST API call available for that so there is nothing in this Ruby SDK that would get that information. That should be available in [RbVmomi](https://github.com/vmware/rbvmomi) though.

[2019-02-08 19:23] #43 closed

[2019-05-28 22:07] jrgarcia opened #44 "Separate client runtime from API calls"
## Summary

Currently, each of the gems in the SDK contain the same runtime that is generated by the OpenAPI generator duplicated in each library.

## Use case

It would be better to have a single runtime library as a gem that contains all of the client runtime behavior, remove the runtime elements from the other gems, and depend on the runtime gem from the other components.

## Examples

Not at t

[2019-05-28 22:15] jrgarcia opened #45 "Ensure all files needed to generate SDK are available in repository"
## Summary

We need to ensure that all files needed to generate the SDK are available from within this GitHub repository so that everything needed to generate the SDK is publicly available and under source control.

## Use case

This change would allow all users of this SDK to submit PRs to the underlying runtime code and the templates used for generation rather than only samples.

## Examples

No

[2019-05-28 22:19] jrgarcia opened #46 "Ensure process to generate SDKs is documented"
## Summary

We need to ensure that the process for generating the SDK is documented well enough that anyone can generate the SDK with nothing more than the instructions available here.

## Use case

Having everything needed to generate the SDK is a good start, but understanding the process of how and why the generating is done is crucial for others to contribute to this project in any meaningful w

[2019-06-06 23:53] neilcx opened #47 "SDK failed in tagging with "401 Unauthorized" Error on vCenter 6.0"
## Describe the bug

I am using the Ruby SDK to support a  feature on our product  ( support tagging on BOSH vSphere CPI ). Our code passed the pipeline test with vCenter 6.5 and 6.7 but failed on 6.0. We have done these test using same user privilege.
I have also done extra tests with simple ruby code shown below.  With custom user account ( with minimal privilege), the code passed with vCenter 6

[2019-06-11 23:21] neilcx commented on #47
Hi @jrgarcia, any update about this problem  ?

[2019-06-12 14:50] jrgarcia commented on #47
@neilcx Not yet, I'll be looking at this today and give you an update.

[2019-06-12 16:48] jrgarcia commented on #47
The good news is, I'm successfully able to reproduce this (thanks so much for all the info, that _really_ helped!). The bad news is, I'm not sure what exactly is causing this. I'm still looking into it and I'll update you soon to let you know what I've found out.

[2019-06-12 17:05] jrgarcia commented on #47
@neilcx Ok, I found the issue. vCenter 6.0 didn't use the `vmware-api-session-id` header for authentication. It used the same string, but rather than have that as the header's key name, it used a cookie. So rather than having a `api_client.default_headers['vmware-api-session-id'] = session_id`, you would have `api_client.default_headers['Cookie'] = "vmware-api-session-id='#{session_id}'"`.

[2019-06-12 17:05] #47 closed

[2019-06-12 17:06] jrgarcia commented on #47
I tested running your code on a vCenter 6.0 instance and it worked just fine. If you have any further issues with this, feel free to reopen the issue and I'd be glad to help.

[2019-06-12 17:10] neilcx commented on #47
@jrgarcia Can I put these 2 lines in the same code base ? Since I am using same code base for 6.0, 6.5 and 6.7 . What happen if  I keep both `api_client.default_headers['vmware-api-session-id'] = session_id` and
` api_client.default_headers['Cookie'] = "vmware-api-session-id='#{session_id}'"` ?

[2019-06-12 17:39] jrgarcia commented on #47
You could, and that should work to create what you need. The reason that cookie-based session IDs was deprecated was because of CSRF though. That's something to keep in mind.

[2019-06-13 17:26] neilcx commented on #47
@yeshwantbabar ^^ , working on it

[2019-06-13 22:05] neilcx opened #48 "list_attached_tags_on_objects got error with vCenter 6.0 but succeeded with 6.5 an 6.7"
## Describe the bug
Try to use list_attached_tags_on_objects `CisTaggingTagAssociationListAttachedTagsOnObjects` to list attached tags on a specified virtual machine. With same code base, it succeeded on vCenter 6.5 and 6.7. But on 6.0, I got

`VSphereAutomation::ApiError:
       Not Found`

## How to reproduce

prepare a vCenter 6.0 and 6.5 environment, create a vm , category/tag, and attach tag

[2019-06-14 19:50] jrgarcia commented on #48
@neilcx It appears that this functionality is not available on vCenter 6.0 from vAPI. That's why it is returning a 404.

[2019-06-14 19:50] #48 closed

[2019-06-14 19:51] neilcx commented on #48
@EleanorRigby @yeshwantbabar FYI.

[2019-08-05 16:04] jrgarcia opened #50 "Change HTTP library from Typhoeus to Net::HTTP"
## Describe the bug

Typhoeus is used by this library to make HTTP calls. There is an issue with Ethon and libcurl working properly on Windows. More info can be found [here](https://github.com/chef/chef-dk/issues/2025). We should use Net::HTTP to make HTTP calls to decrease dependencies.

## How to reproduce

Use this library to make calls to the REST API on Windows 10. They should fail.

## Expec

[2019-08-05 18:53] jrgarcia commented on #45
Fixed by a948ed0

[2019-08-05 18:53] #45 closed

[2019-08-05 18:53] jrgarcia commented on #44
Fixed by a948ed0

[2019-08-05 18:54] #44 closed

[2019-08-05 18:54] jrgarcia commented on #42
Fixed by a948ed0

[2019-08-05 18:54] #42 closed

[2019-08-05 19:13] jrgarcia commented on #46
Added to the [wiki](https://github.com/vmware/vsphere-automation-sdk-ruby/wiki/SDK-Generation).

[2019-08-05 19:13] #46 closed

[2019-08-07 12:51] smoeding opened #51 "Problem with Boolean types after update to 0.2.0"
## Describe the bug

After the update to 0.2.0 I get internal failures from the gems. For example the ClusterApi throws the following error:

[code]

## How to reproduce

Use the following code to list the clusters:

[code]

## Expected behavior

With release 0.1.0 of the gems I get the following output:

[code]

Now update the gems to 0.2.0:

[code]

Run again:

[code]

## Versions

**Dev Environ

[2019-08-07 14:11] jrgarcia commented on #51
I *just* ran into that as well. I'll have a new release with the fix as soon as possible.

[2019-08-07 14:29] #51 closed

[2019-08-07 14:33] jrgarcia commented on #51
@smoeding Released 0.2.1 which should fix this issue. I tested it with your sample and it's working fine. Let me know if this release fixes the issue for you. Thanks for reporting!

[2019-08-07 14:45] smoeding commented on #51
@jrgarcia Thanks for the quick fix. Looks good to me!

[2019-08-07 14:48] jrgarcia commented on #51
@smoeding By the way, you no longer have to jump through hoops with the authentication. Check out a sample I updated [here](https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/samples/vsphere/vcenter/vm/list-vms#L31-L44). You no longer have to set the basic_auth yourself and if you create a session, you no longer have to store the session_id and set it in the headers.

[2019-08-07 18:08] smoeding commented on #51
@jrgarcia I saw the sample code when I tried to find the cause for the error. Looks definitely better than the old code. For the example I just wanted to make sure the code would run on 0.1.0.

But I did update my code for the project... 👍

[2019-08-07 18:31] jrgarcia opened #52 "Use a base model for model objects"
## Summary

* What is the change?

Create a base model object for models to inherit from.

* Why should it go into the vSphere Automation SDK?

The model objects have a lot of the exact same code. Because it is automatically generated, it isn't a huge problem, but it would be nice to not cause a change to hundreds or thousands of objects because of a generic change.

* Does this change impact exis

[2019-08-12 10:40] smoeding opened #53 "API error with array parameters"
## Describe the bug

I want to use the `list` methods to filter on multiple conditions. As soon as I use array parameters, I get an API error.

## How to reproduce

Take the sample program `samples/vsphere/vcenter/vm/list-vms`. This gives a list of all VMs. Now update line 44 from

[code]
to
[code]

This gives the list with only the one specified VM. Good.
Now update the same line to

[code]
Now I

[2019-08-12 11:59] jrgarcia commented on #53
This should _absolutely_ work. I'll look into why, but as a workaround in the meantime, you can do `:'filter.vms' => ['vm-8768']`. This seems to work. I suspect that the issue is related to how it is building the query params.

[2019-08-12 12:48] jrgarcia commented on #53
Actually, I take that back. It doesn't error out, but it isn't filtering either. 🤦‍♂ I think I found the issue. I'll release a fix for it soon.

[2019-08-12 13:08] #53 closed

[2019-08-12 13:24] jrgarcia commented on #53
This should be fixed in [the latest release](https://rubygems.org/gems/vsphere-automation-sdk/versions/0.2.2). Thanks for opening this issue!

[2019-08-14 09:17] smoeding commented on #53
I tested this with filtering VMs on power state and that works as expected.
Thanks!

[2019-08-22 18:12] jrgarcia opened #54 "Change in parameters for some methods"
## Describe the bug

_*Reported by @JerrodCarpenter on the VMware {code} Slack*_

Some methods require more parameters than they did previously. This is due to [this change](https://github.com/vmware/vmware-openapi-generator/commit/ddd3b1503f7da5057095a519e9ec1712c282efd0).

## How to reproduce

Previously, you could call

[code]

and it would return an error due to the arguments being invalid for

[2019-08-22 18:21] #54 closed

[2019-09-10 21:36] #50 closed

[2019-09-12 14:07] JerrodCarpenter opened #56 "Error when setting up rest connection after upgrading to 0.4.0"
## Describe the bug

After upgrading getting an error when creating a rest connection.

* Stack trace:
[code]

## How to reproduce

[code]

## Expected behavior

Looks like the error is raised on this last line.

## Versions

**Dev Environment:**

* Ruby: `2.4.1`
* vSphere Automation SDK: `0.4.0` & `0.4.1`
* OS: Seeing this on Mac OS and Cent OS

## Additional notes

_Add any other notes about the

[2019-09-16 15:00] tecracer-theinen commented on #56
Just adding some context, as this has rippled into different kitchen-vcenter installations.

The difference between 0.3.0 and 0.4.0 is that a Ruby 2.6 specific merge call is used in line 132 of `api_client.rb`. Previously, that method would only accept one parameter. From Ruby 2.6 on, it can have an arbitrary number.

[Ruby 2.5.6 doc for `.merge`](https://ruby-doc.org/core-2.5.6/Hash.html#method-i

[2019-09-16 15:02] jrgarcia commented on #56
@tecracer-theinen Yeah, I just found that out. I'll release a new version of this a little later today. Thanks!

[2019-09-17 02:36] jrgarcia commented on #56
I just released v0.4.2. This should fix this problem. Also, just to note that authentication isn't as hard as it used to be. You don't have to setup the basic auth or session id. For an example, see the highlighted section of [this sample](https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/samples/vsphere/vcenter/vm/list-vms#L31-L44).

[2019-09-17 02:36] #56 closed

[2019-09-24 19:44] JerrodCarpenter opened #57 "VapiStdErrorsNotFoundError on 0.4.2"
## Describe the bug

Getting `VapiStdErrorsNotFoundError` on version `0.4.2` when attempting to deploy an OVF package. No code has changed prior to upgrading.

## How to reproduce

result here is `VapiStdErrorsNotFoundError` but I'm not understanding why
[code]

## Expected behavior

Not a `404`.

## Versions

**Dev Environment:**

* Ruby: 2.6.3
* vSphere Automation SDK: 0.4.2
* OS: macOS 10.14.6

[2019-09-25 13:53] carlossm opened #58 "Duplicated machine on deployment request using version 0.3.0"
## Describe the bug

Deploying a VM from a template, contained in a vSphere 6.7 U2 content library, consistently results in a duplicated virtual machine exception. It might be because of a duplicated POST request to the API, if I'm understanding the debugging output correctly.

## How to reproduce

You can find below some example code I'm using to reproduce the error:
(I'm verifying there are no v

[2019-09-25 17:20] #57 closed

[2019-09-25 17:26] jrgarcia commented on #58
Now that #57 has been fixed, please give `v0.4.3` a try and see if that fixes the issue for you. Thanks for reporting @carlossm!

[2019-09-25 17:52] carlossm commented on #58
Thank you for the fix.

Now with the latest version, it seems I'm getting an EOF error instead of the "duplicated machine":

[code]

Any ideas?

[2019-09-25 17:55] jrgarcia commented on #58
I'll take a look. Not sure what's causing it.

[2019-09-27 16:50] NJSchulz commented on #58
FYI...we just updated to vCenter 6.7U3 and are still seeing the same issue.

[2019-10-02 19:58] JerrodCarpenter opened #59 "Changing boot type api hangs indefinitely"
## Describe the bug

After upgrading to vCenter `6.7`, we're seeing this hang indefinitely on vsphere-automation-sdk-ruby `0.3.0`. When I check vCenter, the task completes almost immediately; but hangs via the API.

## How to reproduce

[code]

## Expected behavior

Should respond when the task has completed in vCenter.

## Versions

**Dev Environment:**

* Ruby: `2.4.1` & `2.6.3`
* vSphere Automa

[2019-10-02 20:09] jrgarcia commented on #59
Thanks for opening this, I'll take a look as soon as I can.

[2019-10-02 20:21] JerrodCarpenter commented on #59
I upgraded to `0.4.3` and I'm seeing this exception when attempting to deploy an OVF:

[code]

Should I create a new ticket for this?

[2019-10-02 20:53] jrgarcia commented on #59
@JerrodCarpenter Please do. I think I can fix that issue pretty quickly.

[2019-10-02 20:57] JerrodCarpenter opened #60 "Net::ReadTimeout on OVF deploy"
## Describe the bug

When attempting to deploy an OVF, we receive a `Net::ReadTimeout`

Stack trace:
[code]

## How to reproduce

[code]

## Expected behavior

I'd expect the OVF to be deployed without error.

## Versions

**Dev Environment:**

* Ruby: `2.6.3`
* vSphere Automation SDK: `0.4.3`
* OS: macOS `10.14.6`

## Additional notes

_Add any other notes about the problem here._

[2019-10-04 21:40] jrgarcia commented on #60
I'm still looking into this. I'm not able to reproduce this error, but I am getting another error (almost immediately which is why I'm not getting to a read timeout). What version of vCenter is this occurring on?

I'm going to go ahead and push an option to set the timeout. It won't affect anyone who doesn't use it, but will allow you to override the default. In the meantime, that may fix it for y

[2019-10-04 22:24] jrgarcia commented on #60
I pushed out a new version to RubyGems (v0.4.4). When creating your configuration you can configure a timeout now. For example,
[code]
That will allow the timeout to last longer so the deploy can finish. I think that should fix your problem. If not, let me know what happens and I'll continue looking into it. Sorry for the wait on this!

[2019-10-05 15:37] JerrodCarpenter commented on #60
This worked for me, I appreciate the swift response!

Upgrading to `0.4.4` took care of this issue as well: https://github.com/vmware/vsphere-automation-sdk-ruby/issues/59

[2019-10-05 15:39] jrgarcia commented on #60
@JerrodCarpenter Glad to hear things are working! Do you mind if I close both of these issues?

[2019-10-05 15:55] JerrodCarpenter commented on #60
Yep that works for me. As an aside, I've read over your contribution guidelines and understand that a lot of this is generated, but I'd like to learn and contribute to this project if things like this pop up in the future. You have any tips on getting started in that regard?

[2019-10-05 16:02] #60 closed

[2019-10-05 16:02] #59 closed

[2019-10-05 16:04] jrgarcia commented on #60
@JerrodCarpenter I’ll add some documentation to show how people can contribute next week. I would definitely welcome any contributions!

[2019-10-07 10:59] smoeding opened #61 "API provides not enough information"
## Describe the bug

I'm not sure if I am missing something but I can't find a way to get enough information from the API results to create a new VM in a given network.

## How to reproduce

 I have a vSphere installation with multiple clusters in a datacenter. The clusters have common networks created with the same name.

If I use the list method for my VSphereAutomation::VCenter::NetworkApi obje

[2019-10-07 19:42] jrgarcia commented on #61
Unfortunately, that is a limitation of the REST API currently so I have no way of exposing that information through this SDK. I'm going to close for now, but I will pass this feedback along for the REST API. Thanks for reporting!

[2019-10-07 19:42] #61 closed

[2019-10-07 19:48] jrgarcia commented on #58
@carlossm @NJSchulz Could you take a look at `v0.4.4` and set a timeout to see if that allows the deploy to finish properly. You can configure it through the `Configuration` object
[code]

[2019-10-08 06:33] smoeding commented on #61
In my opinion there is more that the API should expose.
Could you point me to a better place to address those?

Thanks!

[2019-10-10 20:13] jrgarcia opened #62 "Failing authentication"
## Describe the bug

Authentication appears to work for the first call after creating a session and then fail on the second. Found via https://github.com/chef/kitchen-vcenter/issues/77.

## How to reproduce

[code]

## Expected behavior

It should continue working for every call

## Versions

**Dev Environment:**

* Ruby: 2.6.x
* vSphere Automation SDK: 0.4.4
* OS: Linux/macOS

[2019-10-14 20:07] #62 closed

[2019-10-28 22:04] tas50 opened #63 "gems are shipped in the gems"
## Describe the bug

The gemspec is just finding all the files in the repo dir and shipping those in the gem artifact. It looks like the pipeline or workstation where these are running has all the previous versioned gems in the pkg dir. These are being shipped in each release. In all the gems this ends up being about 9 megs on disk that isn't needed.

## How to reproduce

Open up the installed gem

[2019-10-28 22:05] jrgarcia commented on #63
Weird. This shouldn't be happening at all. I'll get this fixed ASAP.

[2019-10-28 22:06] tas50 commented on #63
I can cut a PR that slims it down to just the minimal files

[2019-10-28 22:07] jrgarcia commented on #63
I definitely welcome PRs! :smile:

[2019-10-28 22:12] tas50 commented on #63
How would you feel about just shipping the lib dir in the artifact? That seems to be where folks are moving in rubygems so that the install artifact is *just* the necessary runtime files and nothing more.

[2019-10-28 22:14] jrgarcia commented on #63
That should be fine. The spec says that only files that can be required should be included and other than the `lib` directory, there is only `spec` and `docs` (neither of which should be included).

[2019-10-28 23:37] tas50 opened #65 "Individual gem artifacts should ship with an artifact"
## Describe the bug

Even though the gemspec defined the license the gem should also ship the MIT license with the copyright comment in that file. These files are often read by license scanner tools to determine compliance. We have an internal tool at Chef that scans our products and it fails on these gems since they don't contain the actual license file to be validated.

## How to reproduce

Chec

[2019-10-29 14:16] #63 closed

[2019-10-29 15:06] #65 closed

[2019-10-29 16:36] jrgarcia commented on #65
I've added the `LICENSE` file to all gems and pushed out a new version (`v0.4.6`) which this and your gemspec changes. Thanks! 🎉

[2019-12-06 14:59] mdechiaro opened #66 "Support for ExtraConfigParams and ExtraConfig classes"
I am trying to set ExtraConfigParams and ExtraConfig parameters under `additional_parameters` inside VSphereAutomation::VCenter::VcenterOvfLibraryItemResourcePoolDeploymentSpec on a deployed VM, however I do not see these classes inside the project. How can these parameters be set?

https://vdc-repo.vmware.com/vmwb-repository/dcr-public/4f867b1e-c524-4e4b-b79e-4321822b5c70/a3cd39a7-4eaf-4e10-9ad2-

[2019-12-06 23:09] jrgarcia commented on #66
That documentation is for an older version. Unfortunately, the documentation for that section of the Ruby SDK isn't very helpful as it just takes an `Array<Object>`. The documentation [here](http://vmware.github.io/vsphere-automation-sdk-rest/vsphere/structures/com/vmware/vcenter/ovf/libraryitem/svc.resource_pool_deployment_spec-structure.html) can help point you in the right direction. The `addit

[2019-12-07 01:22] mdechiaro commented on #66
Thanks for the quick and detailed response. Here is the data structure I came up with:
[code]

[2019-12-19 00:28] JerrodCarpenter opened #67 "Net::ReadTimeout on reconfigure boot type"
## Describe the bug

When attempting to deploy an OVF, we receive a `Net::ReadTimeout`

Stack trace:
[code]

## How to reproduce

[code]

## Expected behavior

I'd expect the boot type to be configured without timeout

## Versions

**Dev Environment:**

* Ruby: `2.6.3`
* vSphere Automation SDK: `0.4.6`
* OS: macOS `10.14.6`

## Additional notes

Seems related to:
* https://github.com/vmware/vspher

[2019-12-19 15:55] jrgarcia commented on #67
Weird. I'm not sure what's going on, but I'll take a look today.

[2019-12-19 16:52] jrgarcia commented on #67
@JerrodCarpenter I just want to clarify a few things to make sure I'm looking at the issue correctly. Are you having issues with a timeout when making an API call? Is the request going through, but taking longer than the allotted timeout? Is the request making it to the vCenter instance and if so, what is happening on the vCenter side? What exactly do you mean by `I'd expect the boot type to be co

[2019-12-19 17:30] JerrodCarpenter commented on #67
The request hangs, and the standard library ruby request code hits the timeout time. If you can help me understand how to send this same API call with just Postman, I'm happy to try that if it'd better narrow down a root cause.

The request is going through, and the task completes in 7 ms.

The request makes it there, and the vcenter makes the change.

Sorry, I just mean I don't expect it to timeo

[2019-12-19 18:36] jrgarcia commented on #67
@JerrodCarpenter I'm going to go ahead and close this based on our discussion offline.

For anyone reading this later, it appears the issue is on the server side rather than the client side.

[2019-12-19 18:36] #67 closed

[2019-12-19 18:46] JerrodCarpenter commented on #67
We used curl to confirm that the rest api is responsible for the hang instead of the sdk.

[2019-12-24 14:12] mdechiaro commented on #66
@jrgarcia

I believe I am sending the correct data structure, however the extra parameters are not being configured inside the virtual machine. I made attempts to create a Hash with symbols and strings as key values without success. Any samples you can share or assistance you can provide would be greatly appreciated. These additional parameters are not configured after the VM is deployed inside vs

[2019-12-30 16:08] jrgarcia commented on #66
I'm so sorry it's taken me so long to get back to you! I totally missed your first reply (though I didn't seem to get a notification about it 🤔) and I was out and away from the computer for the holidays on your last reply. I'm back today and this is near the top of my list. I'll let you know what I find as soon as I can. Sorry again for the late reply!

[2020-01-03 14:47] mdechiaro commented on #66
No problem with the delayed response, as the holidays are a busy time. Let me know if there is any further info I can share to assist. Thanks again.

[2020-02-14 16:39] carlossm commented on #58
FYI @jrgarcia, I ran some tests with the timeout option set, but it seems we still get the 'end of file' exception with any version 0.4.*. With the latest version the backtrace is similar to the one I already mentioned:

[code]

[2020-03-20 17:50] EleanorRigby opened #68 "Content type text/html not supported"
## Describe the bug

When trying to open a new connection through session API

`session_api = VSphereAutomation::CIS::SessionApi.new(api_client)`

The API client errors out saying `Content-Type is not supported: text/html`
in vsphere-automation-vcenter-0.1.0/lib/vsphere-automation-vcenter/api_client.rb:159:in `deserialize'

## How to reproduce

vCenter version awaited from customer.

Used automati

[2020-03-20 17:50] EleanorRigby commented on #68
cc: @SanikaGawhane @ktchen14

[2020-03-20 17:51] EleanorRigby commented on #68
@jrgarcia : Any idea why would VC return a `text/html` instead of `application/json`? I have not seen this in our VMware dev pipelines but the customer is reporting seeing it.

[2020-03-20 20:56] swagataroy commented on #68
vCenter Version is 6.5.0.30000 Build 14020092

[2020-03-23 19:09] jrgarcia commented on #68
@EleanorRigby The only instance where this would be likely to happen would be if the configuration object is misconfigured. Can you send me what is being used for the configuration? It doesn't appear that it would change anything for this particular issue, but I would also suggest using a newer version than `v0.1.0`.

[2020-03-23 20:19] EleanorRigby commented on #68
[code]

[2020-03-23 20:20] EleanorRigby commented on #68
Above is config object and the perm link for code is : https://github.com/cloudfoundry/bosh-vsphere-cpi-release/blob/882f90114b67332c94e1ba83023ef3de9508f15b/src/vsphere_cpi/lib/cloud/vsphere/attach_tag_to_vm.rb#L94

[2020-03-23 20:22] jrgarcia commented on #68
@EleanorRigby That looks correct. What is the value of `cloud_config.vcenter_host`? The most likely culprit would be that the host is not set up correctly and it is creating the URL incorrectly. I have seen cases where vCenter will return `text/html` in cases of making a call that results in a server-side error.

[2020-03-23 20:29] EleanorRigby commented on #68
@jrgarcia : I think that info is on customer env and will need to be fetched.

@swagataroy : Can we get what was vcenter_host set to in cpi config?

[2020-03-23 20:31] EleanorRigby commented on #68
@jrgarcia : Do you think presence of `http/s` scheme or trailing `/` can cause the problem?

[2020-03-23 20:35] jrgarcia commented on #68
@EleanorRigby The scheme should be correct as long as their vCenter is actually available on `https`, which hopefully it is. It is concerning that SSL verification is set to `false` by default. That's a security issue. I'm not sure if a trailing `/` alone would cause an issue, but ideally the host would be nothing more than the hostname with no scheme or slashes. Just a hostname.

[2020-05-07 21:57] prakash03 opened #69 "OVF package deployment return `nil`"
## Describe the bug

OVF Package deployment happening in this method [here](https://github.com/vmware/vsphere-automation-sdk-ruby/blob/master/vcenter/lib/vsphere-automation-vcenter/api/ovf_library_item_api.rb#L81) returns `nil` instead of one the return values stated in the method definition

_Please provide a clear and concise description of what the bug is, and the conditions when it occurs._
I'

[2020-05-20 16:27] prakash03 commented on #69
Hey @jrgarcia, just wanted to follow up with you here! Did you get a chance to look into this issue?

[2020-05-20 16:28] jrgarcia commented on #69
No, I somehow missed this. I don't see a notification for it. I'll take a look at this this week. Sorry about that!

[2020-06-03 18:42] thomastnguyen1995 opened #70 "Unable to attach tags to vCenter objects"
## Describe the bug
This is not necessarily a bug - I just could not get tags attached to vCenter objects using the CIS and vCenter APIs. I was hoping we could close any knowledge gaps here or find anything wrong with how I am attempting to accomplish this.

## How to reproduce

[code]
The value that is returned is nil for each example that I tried.

Examples passed in for object_id (most of these

[2020-06-04 19:55] jrgarcia commented on #70
I'm having some trouble with this as well. Let me look into this a see what's going on. Thanks for reporting!

[2020-06-04 20:11] jrgarcia commented on #70
Ok, I've found the issue. If you look at the documentation [here](https://vmware.github.io/vsphere-automation-sdk-rest/vsphere/operations/com/vmware/cis/tagging/tag_association.attach-operation.html), you'll see that the request body's structure is not what you were expecting it to be (to be honest, I wasn't either). Your code should be,
[code]

Notice the second line, in the code above. If you wo

[2020-06-04 20:11] #70 closed

[2020-06-08 17:27] thomastnguyen1995 commented on #70
Thank you for investigating J.R.!

For the moid of the cluster, should I be able to retrieve that value from the `VSphereAutomation::VCenter::ClusterApi` class? Reading through the documentation, I found it needs to be structured like `"obj-103"`. I have a value similar to that from the cluster API that looks like `"domain-c26"` but that is not attaching correctly. Do you see anything that could b

[2020-06-08 17:43] jrgarcia commented on #70
So for that instance, your code would need to be

[code]

Is that what you have? Notably, the line `object_id = VSphereAutomation::CIS::VapiStdDynamicID.new(id:'domain-c26', type: 'CLUSTER')`

[2020-06-08 18:38] thomastnguyen1995 commented on #70
Yes, that is exactly what I have!
The ID I have for the tag is formatted as such: `urn:vmomi:InventoryServiceTag:737ca4dc-bf14-4129-aa36-6c8a6f34cfd5:GLOBAL`. Maybe that's incorrect?

[2020-06-08 18:40] jrgarcia commented on #70
That’s correct. I’m not sure. This is working in multiple test environments for me. What version of vCenter is this?

[2020-06-08 19:04] thomastnguyen1995 commented on #70
`6.7.0.44000`

[2020-06-11 13:33] thomastnguyen1995 commented on #70
Following up just in case anyone else has the same issue - I was able to get tags attached but the `type` that I had to pass into this line for clusters was `ClusterComputeResource`.

`VSphereAutomation::CIS::VapiStdDynamicID.new(id:'domain-c26', type: 'ClusterComputeResource')`

[2020-06-11 14:30] jrgarcia commented on #70
Thanks for adding that @thomastnguyen1995! I'm not sure why it was working for me with just `'CLUSTER'`. I'll have to look into that. Glad it's working for you now though!

[2020-06-17 17:12] jstange opened #71 "0.5.0 not actually on rubygems.org"
Per the README, the following should work:

[code]

However, only 0.4.6 appears to be published:

https://rubygems.org/gems/vsphere-automation-sdk

Did someone forget a `gem push`?

[2020-06-19 14:55] jrgarcia commented on #71
No, the push wasn't forgotten. It's do to an issue with the filename length of Gems. The generator has a few places that it generated filenames that have gone over the maximum length. It works just fine if you require it, but you can't package it as a Gem. I haven't had a chance to work around this yet, but I'll update the README to avoid the confusion.

Thanks for noting this!

[2020-06-19 14:55] #71 closed

[2020-07-11 00:43] collinmcneese opened #72 "Ruby 2.7.0+ Support"
## Describe the bug

When using the `vsphere-automation-runtime` gem with Ruby 2.7.0+, errors are reported due to `URI.escape` becoming obsolete in `2.7.0`.  The gem appears to still be functioning properly but produces errors when invoked multiple times.

## How to reproduce

This was discovered by using the `kitchen-vcenter` Chef gem which uses `vsphere-automation-runtime`:

`opt/chef-workstatio

[2020-07-14 18:04] #72 closed

[2020-09-25 13:30] harshajon87 commented on #47
Was there any fix or solution suggested here? i too having same issues...

[2021-04-28 15:52] #52 closed